body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ff0045;
    color: white;
}

.back-button {
    background-color: #ff0045;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.search-bar input {
    width: 300%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    align-content: center;
}
.icons {
    display: flex;
    gap: 30px;
    padding: auto;
}
.icon-btn {
    font-size: 20px;
    padding: 10px;
    border: none;
    background: none;
    justify-content: space-evenly;
    cursor: pointer;
    gap: 100px;
  }
  .icon-btn:hover {
    color: #007bff; /* Change color on hover */
  }
  .icon-btn2 {
    font-size: 20px;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    gap: 100px;
  }
  .icon-btn2:hover {
    color: #007bff; /* Change color on hover */
  }
.header p{
    text-align: end;
    font-size: 10px;
}
.cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: #ff0045;
    color: white;
}

.cart-item img {
    height: 280px;
    width: auto;
    border-radius: 10px;
    margin-right: 10px;
}

.product-grid {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.product-item {
    flex: 1;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
 /* Checkbox container */
 .checkbox-container {
    display: inline-block;
    vertical-align: right;
    align-content: center;
    justify-content: flex-end;
  }
  /* Hide default checkbox */
  .checkbox-container input[type="checkbox"] {
    display: none;
  }
  /* Style the custom checkbox */
  .custom-checkbox {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    vertical-align: right;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
  }
  /* When checkbox is checked, change background color */
  .custom-checkbox:checked {
    background-color: #007bff;
  }

  /* Checkmark icon */
  .checkmark {
    width: 100%;
    height: 100%;
    display: none;
  }

  /* Show checkmark when checkbox is checked */
  .custom-checkbox:checked .checkmark {
    display: block;
  }

  /* Checkmark icon styling */
  .checkmark:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 7px;
    width: 6px;
    height: 11px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
 