body{
    margin: 20px;
    background-color: #ccc;
}
.container{
    font-family: fantasy;
    font-style: italic;
}
.container2{
    display: flex;
    flex-direction: column;
}
.label{
    font-size: 16px;
    margin-right: 10px;
}
.select{
    padding: 5px;
    width: 200px;
    font-size: 16px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #000;
    cursor: pointer;
}
.select:focus{
    border-color: #007bff;
    outline: none;
}